<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>К пациентам</title>
    <link rel="stylesheet" href="/static/styles/main_patients_style.css">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Cantarell:wght@400;700;900&family=Candal&family=Segoe+UI:wght@400;700;900&display=swap" rel="stylesheet">
<body>

    <header class="cardio-header">
        <div class="cardio-header-content">
            <a href="/" class="cardio-icon">
                <svg width="32" height="20" viewBox="0 0 32 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 10L4 10L6 6L8 14L10 10L12 10L14 4L16 16L18 10L20 10L22 8L24 12L26 10L28 10L30 2" 
                        stroke="#FFFFFF" 
                        stroke-width="2" 
                        stroke-linecap="round" 
                        stroke-linejoin="round"/>
                </svg>
            </a>
            <h1 class="cardio-header-title">К пациентам</h1>
        </div>
    </header>

    <main class="main-patients">

        <form action="/" method="GET" class="search-patients-container">
            <div class="search-patients-input">
                <input type="text" name="query" placeholder="Поиск по сайту" value="{{.query}}">
                <button type="submit" class="search-patients-icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="6.5" cy="6.5" r="5.5" stroke="#08C3DC" stroke-width="2"/>
                        <path d="M11 11L15 15" stroke="#08C3DC" stroke-width="2" stroke-linecap="round"/>
                    </svg>
                </button>
            </div>
        </form>

        <div class="patients-grid">
            {{range .patients}}
            <div class="patient-card">
                <div class="patient-image-container">
                    <img src="http://localhost:9000/test/{{.Patient_ID}}.jpg" alt="{{.Name}}" class="patient-image">
                </div>
                <h3 class="patient-name"> <a href="/patient/{{.Patient_ID}}">{{.Name}}</a></h3>
                <p class="sensitivity-label">Коэффициент чувствительности:</p>
                <p class="sensitivity-value">{{.Sensitivity}}</p>
                <div class="patient-actions">
                    <form method="POST" action="/insulin_calculation/add">
                        <input type="hidden" name="patient_id" value="{{.Patient_ID}}">
                        <button type="submit" class="add-button">Добавить в расчет</button>
                    </form>
                </div>
            </div>
            {{end}}
        </div>
    </main>
    <div class="calculation-icon">
    <div class="calculation-icon">
    {{if .hasActiveInsulinCalculation}}
    <a href="/insulin_calculation/{{.insulin_calculation_ID}}" class="calculation-link" style="cursor: pointer;">
    {{else}}
    <div class="calculation-link disabled" style="cursor: not-allowed; opacity: 0.5;">
    {{end}}
        <svg width="44" height="47" viewBox="0 0 44 47" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 12H40V41H4V12Z" fill="{{if .hasActiveInsulinCalculation}}#08C3DC{{else}}#CCCCCC{{end}}"/>
            <path d="M4 12H40V17H4V12Z" fill="{{if .hasActiveInsulinCalculation}}#08C3DC{{else}}#CCCCCC{{end}}"/>
            <path d="M12 6H32V12H12V6Z" fill="{{if .hasActiveInsulinCalculation}}#08C3DC{{else}}#CCCCCC{{end}}"/>
        </svg>
        {{if gt .count 0}}
            <span class="calculation-count">{{.count}}</span>
        {{end}}
    {{if .hasActiveInsulinCalculation}}
    </a>
    {{else}}
    </div>
    {{end}}
</div>
</div>
</body>
</html>